* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

article {
  border: 8px solid black;
  margin: 20px auto;
  position: relative;
  width: 900px;
}

.container {
  display: grid;
  grid-template-columns: 250px 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 20px;
}

.sale-label {
  position: absolute;
  left: -44px;
  top: -24px;
  padding: 8px 16px;
  width: 100px;
  background-color: red;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-family: monospace;
  font-size: 20px;
  letter-spacing: 4px;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

h1 {
  background-color: lightgray;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  padding: 16px 32px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

ul {
  list-style-type: square;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 16px;
}

li {
  margin-top: 16px;
}

.shipping {
  text-transform: uppercase;
  margin: 0;
}

.product-info {
  flex: 1;
}

.product-details {
  flex: 1;
}

.product-details-label {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
}

button {
  background-color: black;
  color: white;
  text-transform: uppercase;
  border-style: none;
  font-size: 16px;
  cursor: pointer;
  height: 50px;
  width: 100%;
}

button:hover {
  background-color: white;
  color: black;
}

.information-link {
  color: black;
  display: block;
  margin-top: 20px;
}

.information-link:hover {
  text-decoration: none;
}

.product-colors {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.product-colors > * {
  height: 20px;
  width: 20px;
}

#black {
  background-color: black;
}

#red {
  background-color: red;
}

#green {
  background-color: green;
}

#pink {
  background-color: pink;
}

#blue {
  background-color: blue;
}

#yellow {
  background-color: yellow;
}
