* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

html {
  /* Divide 16 by 10 to get rem value */
  /* Trick to make 1rem = 10px */
  font-size: 62.5%;
}

.hero {
  /* When an image is larger than the container, it will scale down to fit the container */
  max-width: 130rem;
  /* Center the image */
  margin: 0 auto;
  padding: 0 3.2rem;
  /* Display the image next to the text */
  display: grid;
  grid-template-columns: 1fr 1fr;

  /* Vertically align the image and text */
  align-items: center;

  /* Add space between the image and text */
  gap: 9.6rem;
}

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero-img {
  width: 100%;
}

.heading-primary,
.heading-secondary {
  font-weight: 700;
  color: #333;
  /* Add space between letters */
  letter-spacing: -0.5px;
}

.subheading {
  /* Needs to be a block because it's a span by default */
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin: 0 0 1.6rem 0;
  /* Adds space between letters to look like a heading */
  letter-spacing: 0.75px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin: 0 0 9.6rem 0;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4rem;
}

.btn {
  font-weight: 600;
}

.btn:link,
.btn:visited {
  /* Display the button as a block element */
  display: inline-block;

  font-size: 2rem;
  text-decoration: none;
  /* Double the padding on the sides */
  padding: 1.6rem 3.2rem;

  border-radius: 9px;

  /* Trick to add animation to the button */
  /* Always put the transition on the original state */
  transition: background-color 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
  color: #fff;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  color: #555;

  /* Trick to add border inside the button */
  box-shadow: inset 0 0 0 3px #fff;
}

.delivered-meals {
  display: flex;
  margin-top: 8rem;
  align-items: center;

  /* Add space between the image and text */
  gap: 1.6rem;
}

.delivered-img {
  display: flex;
}

.delivered-img img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;

  /* Overlay the image on top of each other */
  margin-left: -1.6rem;

  /* Add border to the image */
  border: 3px solid #fdf2e9;
}

.delivered-text {
  font-size: 1.6rem;
  font-weight: 600;
}

/* Helper classes */

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.delivered-text span {
  color: #e67e22;
  font-weight: 700;
}

.logo {
  height: 2.2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;

  /* To make the navigation "sticky" later on */
  height: 9.6rem;
  padding: 0 4.8rem;
  /* Without stickiness, you can use padding */
}

.main-nav-list {
  /* Display the links as a block element, so they will be on even next to each other */
  display: inline-block;
  /* Remove the bullets */
  list-style: none;
  /* Display the list items next to each other, with a gap */
  display: flex;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;

  /* Needs to go on the original state */
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  /* Common practice to make the last item in your nav list a button */
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

.container {
  /* Center the content inside the viewport */
  /* 1140px is the standard width for a website */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  /* Set up a reusable grid */
  display: grid;
  gap: 9.6rem;
}

/* Add two dashes to the class name to make it more specific */

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.section-how {
  padding: 9.6rem;
}

.section-how div div {
  padding: 100px;
  font-size: 50px;
  background-color: #333;
}

.step-img {
  width: 50%;
}

/*

--- 01 TYPOGRAPHY SYSTEM

--- 02 COLORS

--- 03 IMAGES

--- 04 ICONS

--- 05 SHADOWS

--- 06 BORDER RADIUS

--- 07 WHITE SPACE

*/
