* {
  margin: 0;
  padding: 0;
}

body {
  color: #444;
  font-size: 16px;
  font-family: sans-serif;

  border-top: 10px solid teal;
  /* position: relative; */
}

.container {
  width: 800px;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3 {
  color: teal;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h1::first-letter {
  font-style: normal;
  margin-right: 8px;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
  position: relative;
}

h3 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 16px;
  margin-top: 40px;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 16px;
}

/* h3 + p::first-line {
  color: red;
} */

h2::after {
  content: "TOP";
  background-color: yellow;
  color: black;
  font-size: 16px;
  display: inline-block;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  top: -8px;
  right: -8px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

#copyright {
  font-size: 16px;
}

#author {
  font-style: italic;
  font-size: 18px;
}

.related {
  list-style: none;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px;
  height: 80px;
}

.post-header {
  margin-bottom: 40px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid teal;
  border-bottom: 5px solid teal;
  padding: 50px 0;
  width: 500px;
}

ul,
ol {
  margin-left: 60px;
  margin-bottom: 16px;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

article {
  margin-bottom: 60px;
}

/* Doesn't work */
article p:first-child {
  color: red;
}

/* Styling links */
a:link {
  color: teal;
  text-decoration: none;
}

a:visited {
  color: teal;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

#copyright {
  color: red;
}

.copyright {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  color: green;
}

nav {
  font-size: 18px;
}

.post-img {
  width: 100%;
  height: auto;
}

.like-button {
  cursor: pointer;
  font-size: 20px;
  padding: 20px;

  position: absolute;
  bottom: 50px;
  right: 50px;
}